h6 {
    color: darkblue;
}



.titulo {
    color: #00ff73;
}

#id-element {
    color: rgb(218, 20, 20);
}

[rancio="si"]{
    color: #065252;
}

h1 p {
    color: #e99b0c;
}
    
h1 p b {
    color: rgb(255, 0, 136);
}

[ColorBotones="si"] {
    color: indianred;
}